In [2]:
import pandas as pd
import requests
import numpy as np
import seaborn as sns
import yfinance as yf
import import_ipynb
sns.set_theme()
# Set the float display format to suppress scientific notation
#pd.set_option('display.float_format', lambda x: '%.3f' % x)

import apis
import makerdao
import formulas

In [3]:
lidobs_url = "https://api.dune.com/api/v1/query/2484656/results/"
params_lidobs = {
    "api_key": "z4mDm3TRGLB3hta98szuGAqineaf6XCh"
}

# Send a GET request to the API endpoint
response8 = requests.get(lidobs_url, params=params_lidobs)

# Check for a valid response
#if response8.status_code == 200:
    # Parse the JSON response
lidobs_data = response8.json()
    # Extract the 'rows' list from the JSON data
lidobs_rows_data = lidobs_data['result']['rows']
lidobs_df = pd.DataFrame(lidobs_rows_data)

In [4]:
#from apis import lidobs_df

assets = lidobs_df['>Assets ($)']
assets.index = lidobs_df['period']
liabilities = lidobs_df['>Liabilities ($)'] 
liabilities.index = lidobs_df['period']

equity = assets - liabilities
equity.index=assets.index



equity.head()

period
2023-12-01 00:00:00.000 UTC    9.354492e+07
2023-11-01 00:00:00.000 UTC    8.082358e+07
2023-10-01 00:00:00.000 UTC    7.181132e+07
2023-09-01 00:00:00.000 UTC    6.719335e+07
2023-08-01 00:00:00.000 UTC    6.644007e+07
dtype: float64

In [5]:
current_ratio = assets / liabilities

current_ratio_df = current_ratio.to_frame(name='current_ratio')

current_ratio_df

                             current_ratio
period
2023-12-01 00:00:00.000 UTC       1.004343
2023-11-01 00:00:00.000 UTC       1.004247
2023-10-01 00:00:00.000 UTC       1.004487
2023-09-01 00:00:00.000 UTC       1.004571
2023-08-01 00:00:00.000 UTC       1.004733
2023-07-01 00:00:00.000 UTC       1.004922
2023-06-01 00:00:00.000 UTC       1.005098
2023-05-01 00:00:00.000 UTC       1.005438
2023-04-01 00:00:00.000 UTC       1.006235
2023-03-01 00:00:00.000 UTC       1.006588
2023-02-01 00:00:00.000 UTC       1.007047
2023-01-01 00:00:00.000 UTC       1.007932
2022-12-01 00:00:00.000 UTC       1.009153
2022-11-01 00:00:00.000 UTC       1.008927
2022-10-01 00:00:00.000 UTC       1.008314
2022-09-01 00:00:00.000 UTC       1.009368
2022-08-01 00:00:00.000 UTC       1.008152
2022-07-01 00:00:00.000 UTC       1.004964
2022-06-01 00:00:00.000 UTC       1.004958
2022-05-01 00:00:00.000 UTC       1.004946
2022-04-01 00:00:00.000 UTC       1.005605
2022-03-01 00:00:00.000 UTC       1.007239
2022-02-01 00:00:00.000 UTC       1.010720
2022-01-01 00:00:00.000 UTC       1.011962
2021-12-01 00:00:00.000 UTC       1.013162
2021-11-01 00:00:00.000 UTC       1.014095
2021-10-01 00:00:00.000 UTC       1.014881
2021-09-01 00:00:00.000 UTC       1.015911
2021-08-01 00:00:00.000 UTC       1.018285
2021-07-01 00:00:00.000 UTC       1.031258
2021-06-01 00:00:00.000 UTC       1.038805
2021-05-01 00:00:00.000 UTC       1.047722
2021-04-01 00:00:00.000 UTC       0.999820
2021-03-01 00:00:00.000 UTC       0.999923
2021-02-01 00:00:00.000 UTC       0.999921
2021-01-01 00:00:00.000 UTC       1.000003
2020-12-01 00:00:00.000 UTC       1.000032

In [6]:
lidoincome_url = "https://api.dune.com/api/v1/query/2464243/results/"
params_lidoincome = {
    "api_key": "z4mDm3TRGLB3hta98szuGAqineaf6XCh"
}

# Send a GET request to the API endpoint
response9 = requests.get(lidoincome_url, params=params_lidoincome)

# Check for a valid response
if response9.status_code == 200:
    # Parse the JSON response
    lidoincome_data = response9.json()
    # Extract the 'rows' list from the JSON data
    lidoincome_rows_data = lidoincome_data['result']['rows']
    lidoincome_df = pd.DataFrame(lidoincome_rows_data)





lidoincome_df['period'] = pd.to_datetime(lidoincome_df['period'])
lidoincome_df = lidoincome_df.set_index('period')

lidoincome_df.head()

,($) >>Protocol Gross Margin,($) >>Total Protocol Income,($) >Cost of Revenue,($) >Liquidity Expenses,($) >Net Revenue,($) >Operating Expenses,($) Deposit referrals,($) Domain incentives,($) Gross staking rewards (+),($) LEGO grants,...,Other cost of revenues,Other expenses,P3M ann. gross margin,P3M ann. gross margin ($),P3M ann. total expenses,P3M ann. total expenses ($),Provision for slashing (-),Staking rewards to holders (-),Staking rewards to node operators (-),TRP grants
period,,,,,,,,,,,,,,,,,,,,,
2023-12-01 00:00:00+00:00,3.291511e+06,-6.024311e+05,-3.373348e+06,-7.473345e+05,6.664858e+06,-3.146607e+06,0.000000,-243.617644,6.664858e+07,-109696.411181,...,0,-39.438212,17708.358738,3.123727e+07,25053.379941,4.269326e+07,-18.110807,-26545.274702,-1474.737483,-718.647759
2023-11-01 00:00:00+00:00,3.049040e+06,4.764368e+04,-3.126356e+06,-1.021604e+06,6.175396e+06,-1.979792e+06,-120757.502142,-44.535843,6.175396e+07,-125665.425486,...,0,-44.256541,17541.896326,2.949415e+07,24302.864100,3.981034e+07,-19.429435,-27886.719938,-1549.262219,0.000000
2023-10-01 00:00:00+00:00,2.460703e+06,-1.019035e+06,-2.525052e+06,-9.020004e+05,4.985755e+06,-2.577738e+06,-96860.583409,-130.517048,4.985755e+07,-189856.742340,...,0,7.658691,17402.786047,3.059226e+07,18991.828089,3.205304e+07,-19.351642,-26979.444799,-1498.858044,0.000000
2023-09-01 00:00:00+00:00,2.299574e+06,-1.892607e+06,-2.359873e+06,-7.190749e+05,4.659448e+06,-3.473106e+06,-155076.910600,-64.636428,4.659448e+07,-433742.492034,...,0,9.619875,16963.593798,3.093173e+07,12079.425329,2.169082e+07,-18.585184,-25854.042276,-1436.335682,-1024.446675
2023-08-01 00:00:00+00:00,2.613260e+06,3.325935e+05,-2.685965e+06,-1.783982e+05,5.299225e+06,-2.102269e+06,0.000000,-129.318113,5.299225e+07,-74985.900000,...,0,12.919172,17790.461481,3.301941e+07,17521.037338,3.248365e+07,-20.699566,-27160.501445,-1508.916747,-323.726396

In [7]:
lidoincome_df.columns

Index(['($) >>Protocol Gross Margin', '($) >>Total Protocol Income',
       '($) >Cost of Revenue', '($) >Liquidity Expenses', '($) >Net Revenue',
       '($) >Operating Expenses', '($) Deposit referrals',
       '($) Domain incentives', '($) Gross staking rewards (+)',
       '($) LEGO grants', '($) Liquidity rewards', '($) Operating expenses',
       '($) Other cost of revenues', '($) Other expenses',
       '($) Provision for slashing (-)', '($) Staking rewards to holders (-)',
       '($) Staking rewards to node operators (-)', '($) TRP grants',
       '>>Protocol Gross Margin', '>>Total Protocol Income',
       '>Cost of Revenue', '>Liquidity Expenses', '>Net Revenue',
       '>Operating Expenses', 'Deposit referrals', 'Domain incentives',
       'Gross staking rewards (+)', 'LEGO grants', 'Liquidity rewards',
       'Operating expenses', 'Other cost of revenues', 'Other expenses',
       'P3M ann. gross margin', 'P3M ann. gross margin ($)',
       'P3M ann. total expenses', 'P3M ann. total expenses ($)',
       'Provision for slashing (-)', 'Staking rewards to holders (-)',
       'Staking rewards to node operators (-)', 'TRP grants'],
      dtype='object')

In [8]:
"""
cost_of_debt = abs(lidoincome_df['Staking rewards to holders (-)']) / lidobs_df['stETH']
"""

"\ncost_of_debt = abs(lidoincome_df['Staking rewards to holders (-)']) / lidobs_df['stETH']\n"

In [10]:
df_ttm = lidoincome_df.head(12)

ttm_metric = pd.DataFrame(df_ttm.sum(numeric_only=True))

ttm_metrics = ttm_metric.transpose()

ttm_metrics

,($) >>Protocol Gross Margin,($) >>Total Protocol Income,($) >Cost of Revenue,($) >Liquidity Expenses,($) >Net Revenue,($) >Operating Expenses,($) Deposit referrals,($) Domain incentives,($) Gross staking rewards (+),($) LEGO grants,...,Other cost of revenues,Other expenses,P3M ann. gross margin,P3M ann. gross margin ($),P3M ann. total expenses,P3M ann. total expenses ($),Provision for slashing (-),Staking rewards to holders (-),Staking rewards to node operators (-),TRP grants
0,3.016871e+07,-4.048938e+07,-3.106402e+07,-1.751086e+07,6.123273e+07,-5.314724e+07,-1.266211e+06,-1.861343e+06,6.123273e+08,-1.901086e+06,...,0.0,1140.091264,190682.394396,3.213909e+08,543063.808223,8.947491e+08,-251.888848,-305199.743336,-16955.541296,-18184.980731

In [12]:
import pandas as pd

# Create a dictionary with the components of the income statement
income_statement_data = {
    'Total Protocol Income': ttm_metrics['($) >>Total Protocol Income'],
    'Cost of Revenue': ttm_metrics['($) >Cost of Revenue'],
    'Liquidity Expenses': ttm_metrics['($) >Liquidity Expenses'],
    'Operating Expenses': ttm_metrics['($) >Operating Expenses'],
    'Net Revenue': ttm_metrics['($) >Net Revenue'],
    'Net Income': ttm_metrics['($) >Net Revenue'] - ttm_metrics['($) >Operating Expenses']
}

# Create a DataFrame from the dictionary
consolidated_income_statement = pd.DataFrame(income_statement_data)

# Optionally, you can format the DataFrame for better readability
# For example, you might want to round the numbers and format them as strings with commas for thousands
consolidated_income_statement = consolidated_income_statement.applymap(lambda x: f"${x:,.2f}")

# Display the consolidated income statement
print(consolidated_income_statement)

  Total Protocol Income  Cost of Revenue Liquidity Expenses  \
0       $-40,489,383.67  $-31,064,015.17    $-17,510,856.12

  Operating Expenses     Net Revenue       Net Income
0    $-53,147,239.92  $61,232,727.54  $114,379,967.45

In [13]:
net_profit_margin_history = lidoincome_df['($) >>Total Protocol Income'] / lidoincome_df['($) >Net Revenue']

net_profit_margin_history

period
2023-12-01 00:00:00+00:00     -0.090389
2023-11-01 00:00:00+00:00      0.007715
2023-10-01 00:00:00+00:00     -0.204389
2023-09-01 00:00:00+00:00     -0.406187
2023-08-01 00:00:00+00:00      0.062763
2023-07-01 00:00:00+00:00      0.215263
2023-06-01 00:00:00+00:00      0.163517
2023-05-01 00:00:00+00:00     -0.289061
2023-04-01 00:00:00+00:00     -2.670528
2023-03-01 00:00:00+00:00     -3.134398
2023-02-01 00:00:00+00:00     -1.477672
2023-01-01 00:00:00+00:00     -1.120139
2022-12-01 00:00:00+00:00     -1.270948
2022-11-01 00:00:00+00:00     -1.325806
2022-10-01 00:00:00+00:00     -1.733859
2022-09-01 00:00:00+00:00     -2.597874
2022-08-01 00:00:00+00:00     -3.953299
2022-07-01 00:00:00+00:00     -1.052989
2022-06-01 00:00:00+00:00     -2.222633
2022-05-01 00:00:00+00:00     -4.066632
2022-04-01 00:00:00+00:00     -6.990785
2022-03-01 00:00:00+00:00     -5.469864
2022-02-01 00:00:00+00:00     -5.150492
2022-01-01 00:00:00+00:00     -5.161099
2021-12-01 00:00:00+00:00     -4.675422
2021-11-01 00:00:00+00:00     -6.704870
2021-10-01 00:00:00+00:00     -7.455114
2021-09-01 00:00:00+00:00    -27.061986
2021-08-01 00:00:00+00:00    -21.028289
2021-07-01 00:00:00+00:00     -9.688948
2021-06-01 00:00:00+00:00    -13.824101
2021-05-01 00:00:00+00:00    -23.992259
2021-04-01 00:00:00+00:00   -381.134335
2021-03-01 00:00:00+00:00          -inf
2021-02-01 00:00:00+00:00          -inf
2021-01-01 00:00:00+00:00          -inf
2020-12-01 00:00:00+00:00           inf
dtype: float64

In [14]:
assets

period
2023-12-01 00:00:00.000 UTC    2.163170e+10
2023-11-01 00:00:00.000 UTC    1.911216e+10
2023-10-01 00:00:00.000 UTC    1.607573e+10
2023-09-01 00:00:00.000 UTC    1.476677e+10
2023-08-01 00:00:00.000 UTC    1.410344e+10
2023-07-01 00:00:00.000 UTC    1.484333e+10
2023-06-01 00:00:00.000 UTC    1.457388e+10
2023-05-01 00:00:00.000 UTC    1.309954e+10
2023-04-01 00:00:00.000 UTC    1.128834e+10
2023-03-01 00:00:00.000 UTC    1.037852e+10
2023-02-01 00:00:00.000 UTC    8.826569e+09
2023-01-01 00:00:00.000 UTC    7.696899e+09
2022-12-01 00:00:00.000 UTC    5.605453e+09
2022-11-01 00:00:00.000 UTC    6.016733e+09
2022-10-01 00:00:00.000 UTC    7.079721e+09
2022-09-01 00:00:00.000 UTC    5.688306e+09
2022-08-01 00:00:00.000 UTC    6.513718e+09
2022-07-01 00:00:00.000 UTC    7.020824e+09
2022-06-01 00:00:00.000 UTC    4.288688e+09
2022-05-01 00:00:00.000 UTC    8.074101e+09
2022-04-01 00:00:00.000 UTC    1.012039e+10
2022-03-01 00:00:00.000 UTC    9.586742e+09
2022-02-01 00:00:00.000 UTC    5.773412e+09
2022-01-01 00:00:00.000 UTC    4.758742e+09
2021-12-01 00:00:00.000 UTC    5.939309e+09
2021-11-01 00:00:00.000 UTC    6.960699e+09
2021-10-01 00:00:00.000 UTC    6.117251e+09
2021-09-01 00:00:00.000 UTC    3.992084e+09
2021-08-01 00:00:00.000 UTC    3.944156e+09
2021-07-01 00:00:00.000 UTC    1.776776e+09
2021-06-01 00:00:00.000 UTC    1.295575e+09
2021-05-01 00:00:00.000 UTC    1.261770e+09
2021-04-01 00:00:00.000 UTC    7.027332e+08
2021-03-01 00:00:00.000 UTC    3.601277e+08
2021-02-01 00:00:00.000 UTC    2.575107e+08
2021-01-01 00:00:00.000 UTC    1.384673e+08
2020-12-01 00:00:00.000 UTC    1.245388e+07
Name: >Assets ($), dtype: float64

In [15]:
lidoincome_df['($) >>Total Protocol Income']

period
2023-12-01 00:00:00+00:00   -6.024311e+05
2023-11-01 00:00:00+00:00    4.764368e+04
2023-10-01 00:00:00+00:00   -1.019035e+06
2023-09-01 00:00:00+00:00   -1.892607e+06
2023-08-01 00:00:00+00:00    3.325935e+05
2023-07-01 00:00:00+00:00    1.194819e+06
2023-06-01 00:00:00+00:00    7.828160e+05
2023-05-01 00:00:00+00:00   -1.843695e+06
2023-04-01 00:00:00+00:00   -1.328894e+07
2023-03-01 00:00:00+00:00   -1.519581e+07
2023-02-01 00:00:00+00:00   -5.236860e+06
2023-01-01 00:00:00+00:00   -3.767877e+06
2022-12-01 00:00:00+00:00   -3.336010e+06
2022-11-01 00:00:00+00:00   -4.605806e+06
2022-10-01 00:00:00+00:00   -5.382794e+06
2022-09-01 00:00:00+00:00   -6.797244e+06
2022-08-01 00:00:00+00:00   -1.063008e+07
2022-07-01 00:00:00+00:00   -2.268434e+06
2022-06-01 00:00:00+00:00   -4.734779e+06
2022-05-01 00:00:00+00:00   -1.302151e+07
2022-04-01 00:00:00+00:00   -2.560536e+07
2022-03-01 00:00:00+00:00   -1.525041e+07
2022-02-01 00:00:00+00:00   -1.089728e+07
2022-01-01 00:00:00+00:00   -1.196048e+07
2021-12-01 00:00:00+00:00   -1.362008e+07
2021-11-01 00:00:00+00:00   -1.962973e+07
2021-10-01 00:00:00+00:00   -1.823279e+07
2021-09-01 00:00:00+00:00   -4.978052e+07
2021-08-01 00:00:00+00:00   -2.676656e+07
2021-07-01 00:00:00+00:00   -6.853400e+06
2021-06-01 00:00:00+00:00   -8.525696e+06
2021-05-01 00:00:00+00:00   -1.510333e+07
2021-04-01 00:00:00+00:00   -5.970120e+06
2021-03-01 00:00:00+00:00   -3.612220e+06
2021-02-01 00:00:00+00:00   -1.150781e+07
2021-01-01 00:00:00+00:00   -1.115446e+07
2020-12-01 00:00:00+00:00    3.987930e+02
Name: ($) >>Total Protocol Income, dtype: float64

In [16]:
# Convert indices to datetime if they are not already
lidoincome_df.index = pd.to_datetime(lidoincome_df.index)
assets.index = pd.to_datetime(assets.index)

# Reindex or resample one DataFrame to match the other's index
# Here, reindexing assets to match lidoincome_df's index
assets_reindexed = assets.reindex(lidoincome_df.index)

# Now perform the division
roa_history = lidoincome_df['($) >>Total Protocol Income'] / assets_reindexed

print(roa_history)

period
2023-12-01 00:00:00+00:00   -0.000028
2023-11-01 00:00:00+00:00    0.000002
2023-10-01 00:00:00+00:00   -0.000063
2023-09-01 00:00:00+00:00   -0.000128
2023-08-01 00:00:00+00:00    0.000024
2023-07-01 00:00:00+00:00    0.000080
2023-06-01 00:00:00+00:00    0.000054
2023-05-01 00:00:00+00:00   -0.000141
2023-04-01 00:00:00+00:00   -0.001177
2023-03-01 00:00:00+00:00   -0.001464
2023-02-01 00:00:00+00:00   -0.000593
2023-01-01 00:00:00+00:00   -0.000490
2022-12-01 00:00:00+00:00   -0.000595
2022-11-01 00:00:00+00:00   -0.000765
2022-10-01 00:00:00+00:00   -0.000760
2022-09-01 00:00:00+00:00   -0.001195
2022-08-01 00:00:00+00:00   -0.001632
2022-07-01 00:00:00+00:00   -0.000323
2022-06-01 00:00:00+00:00   -0.001104
2022-05-01 00:00:00+00:00   -0.001613
2022-04-01 00:00:00+00:00   -0.002530
2022-03-01 00:00:00+00:00   -0.001591
2022-02-01 00:00:00+00:00   -0.001887
2022-01-01 00:00:00+00:00   -0.002513
2021-12-01 00:00:00+00:00   -0.002293
2021-11-01 00:00:00+00:00   -0.002820
2021-10-01 00:00:00+00:00   -0.002981
2021-09-01 00:00:00+00:00   -0.012470
2021-08-01 00:00:00+00:00   -0.006786
2021-07-01 00:00:00+00:00   -0.003857
2021-06-01 00:00:00+00:00   -0.006581
2021-05-01 00:00:00+00:00   -0.011970
2021-04-01 00:00:00+00:00   -0.008496
2021-03-01 00:00:00+00:00   -0.010030
2021-02-01 00:00:00+00:00   -0.044689
2021-01-01 00:00:00+00:00   -0.080557
2020-12-01 00:00:00+00:00    0.000032
dtype: float64

In [17]:
equity.index = pd.to_datetime(equity.index)
equity_reindex = equity.reindex(lidoincome_df.index)

# Now perform the division
roe_history = lidoincome_df['($) >>Total Protocol Income'] / equity_reindex

print(roe_history)

period
2023-12-01 00:00:00+00:00       -0.006440
2023-11-01 00:00:00+00:00        0.000589
2023-10-01 00:00:00+00:00       -0.014190
2023-09-01 00:00:00+00:00       -0.028167
2023-08-01 00:00:00+00:00        0.005006
2023-07-01 00:00:00+00:00        0.016435
2023-06-01 00:00:00+00:00        0.010590
2023-05-01 00:00:00+00:00       -0.026022
2023-04-01 00:00:00+00:00       -0.189991
2023-03-01 00:00:00+00:00       -0.223725
2023-02-01 00:00:00+00:00       -0.084782
2023-01-01 00:00:00+00:00       -0.062206
2022-12-01 00:00:00+00:00       -0.065618
2022-11-01 00:00:00+00:00       -0.086516
2022-10-01 00:00:00+00:00       -0.092211
2022-09-01 00:00:00+00:00       -0.128755
2022-08-01 00:00:00+00:00       -0.201820
2022-07-01 00:00:00+00:00       -0.065409
2022-06-01 00:00:00+00:00       -0.223777
2022-05-01 00:00:00+00:00       -0.327664
2022-04-01 00:00:00+00:00       -0.453959
2022-03-01 00:00:00+00:00       -0.221337
2022-02-01 00:00:00+00:00       -0.177959
2022-01-01 00:00:00+00:00       -0.212633
2021-12-01 00:00:00+00:00       -0.176518
2021-11-01 00:00:00+00:00       -0.202901
2021-10-01 00:00:00+00:00       -0.203277
2021-09-01 00:00:00+00:00       -0.796173
2021-08-01 00:00:00+00:00       -0.377933
2021-07-01 00:00:00+00:00       -0.127257
2021-06-01 00:00:00+00:00       -0.176165
2021-05-01 00:00:00+00:00       -0.262798
2021-04-01 00:00:00+00:00       47.259517
2021-03-01 00:00:00+00:00      129.872221
2021-02-01 00:00:00+00:00      563.701741
2021-01-01 00:00:00+00:00   -25892.907345
2020-12-01 00:00:00+00:00        0.988568
dtype: float64

In [18]:
equity.index = pd.to_datetime(equity.index)
equity_reindex = equity.reindex(lidoincome_df.index)

In [19]:
liabilities.index = pd.to_datetime(liabilities.index)

In [20]:
debt_ratio_history = liabilities/assets

debt_ratio_history

period
2023-12-01 00:00:00+00:00    0.995676
2023-11-01 00:00:00+00:00    0.995771
2023-10-01 00:00:00+00:00    0.995533
2023-09-01 00:00:00+00:00    0.995450
2023-08-01 00:00:00+00:00    0.995289
2023-07-01 00:00:00+00:00    0.995102
2023-06-01 00:00:00+00:00    0.994928
2023-05-01 00:00:00+00:00    0.994591
2023-04-01 00:00:00+00:00    0.993804
2023-03-01 00:00:00+00:00    0.993456
2023-02-01 00:00:00+00:00    0.993002
2023-01-01 00:00:00+00:00    0.992130
2022-12-01 00:00:00+00:00    0.990930
2022-11-01 00:00:00+00:00    0.991152
2022-10-01 00:00:00+00:00    0.991755
2022-09-01 00:00:00+00:00    0.990719
2022-08-01 00:00:00+00:00    0.991914
2022-07-01 00:00:00+00:00    0.995060
2022-06-01 00:00:00+00:00    0.995066
2022-05-01 00:00:00+00:00    0.995078
2022-04-01 00:00:00+00:00    0.994427
2022-03-01 00:00:00+00:00    0.992813
2022-02-01 00:00:00+00:00    0.989394
2022-01-01 00:00:00+00:00    0.988180
2021-12-01 00:00:00+00:00    0.987009
2021-11-01 00:00:00+00:00    0.986101
2021-10-01 00:00:00+00:00    0.985337
2021-09-01 00:00:00+00:00    0.984338
2021-08-01 00:00:00+00:00    0.982043
2021-07-01 00:00:00+00:00    0.969690
2021-06-01 00:00:00+00:00    0.962645
2021-05-01 00:00:00+00:00    0.954452
2021-04-01 00:00:00+00:00    1.000180
2021-03-01 00:00:00+00:00    1.000077
2021-02-01 00:00:00+00:00    1.000079
2021-01-01 00:00:00+00:00    0.999997
2020-12-01 00:00:00+00:00    0.999968
dtype: float64

In [21]:
ttm_net_income = ttm_metrics['($) >>Total Protocol Income']
ttm_revenue = ttm_metrics['($) >Net Revenue']



net_profit_margin = ttm_net_income / ttm_revenue

ttm_average_assets = assets.head(12).mean()

roa = ttm_net_income / ttm_average_assets

ttm_average_equity = equity.head(12).mean()

roe = ttm_net_income / ttm_average_equity

print(roe)

0   -0.566622
Name: ($) >>Total Protocol Income, dtype: float64

In [22]:
# Define the API endpoint and parameters
lidomrktapi = "https://api.coingecko.com/api/v3/coins/lido-dao"


# Send a GET request to the API endpoint
response9 = requests.get(lidomrktapi)

lidopricedata = response9.json()
   # Extract the 'rows' list from the JSON data

ldo_market_value = lidopricedata['market_data']['market_cap']['usd']
ldo_current_price = lidopricedata['market_data']['current_price']['usd']
ldo_supply = lidopricedata['market_data']['circulating_supply']



#lidopricedata

In [23]:
debt_to_equity = liabilities / equity

eps = ttm_net_income.iloc[0] / ldo_supply

print(debt_to_equity)

period
2023-12-01 00:00:00+00:00       230.244001
2023-11-01 00:00:00+00:00       235.467651
2023-10-01 00:00:00+00:00       222.860606
2023-09-01 00:00:00+00:00       218.765434
2023-08-01 00:00:00+00:00       211.273148
2023-07-01 00:00:00+00:00       203.176752
2023-06-01 00:00:00+00:00       196.159109
2023-05-01 00:00:00+00:00       183.885811
2023-04-01 00:00:00+00:00       160.388388
2023-03-01 00:00:00+00:00       151.801139
2023-02-01 00:00:00+00:00       141.898046
2023-01-01 00:00:00+00:00       126.072252
2022-12-01 00:00:00+00:00       109.256674
2022-11-01 00:00:00+00:00       112.019322
2022-10-01 00:00:00+00:00       120.280966
2022-09-01 00:00:00+00:00       106.749060
2022-08-01 00:00:00+00:00       122.667595
2022-07-01 00:00:00+00:00       201.441537
2022-06-01 00:00:00+00:00       201.693618
2022-05-01 00:00:00+00:00       202.170853
2022-04-01 00:00:00+00:00       178.424983
2022-03-01 00:00:00+00:00       138.137383
2022-02-01 00:00:00+00:00        93.283077
2022-01-01 00:00:00+00:00        83.600823
2021-12-01 00:00:00+00:00        75.974241
2021-11-01 00:00:00+00:00        70.948759
2021-10-01 00:00:00+00:00        67.200990
2021-09-01 00:00:00+00:00        62.848077
2021-08-01 00:00:00+00:00        54.689885
2021-07-01 00:00:00+00:00        31.991880
2021-06-01 00:00:00+00:00        25.770186
2021-05-01 00:00:00+00:00        20.954760
2021-04-01 00:00:00+00:00     -5563.841920
2021-03-01 00:00:00+00:00    -12948.876552
2021-02-01 00:00:00+00:00    -12614.971421
2021-01-01 00:00:00+00:00    321423.939898
2020-12-01 00:00:00+00:00     30870.920941
dtype: float64

In [24]:
price_to_earnings = ldo_current_price/eps

print(price_to_earnings)

-61.33920020388347

In [25]:
bookval = equity / ldo_supply

market_to_book = ldo_current_price / bookval

print(market_to_book.iloc[0])

print(bookval)

26.549666209709443
period
2023-12-01 00:00:00+00:00    1.050861e-01
2023-11-01 00:00:00+00:00    9.079522e-02
2023-10-01 00:00:00+00:00    8.067108e-02
2023-09-01 00:00:00+00:00    7.548335e-02
2023-08-01 00:00:00+00:00    7.463715e-02
2023-07-01 00:00:00+00:00    8.166765e-02
2023-06-01 00:00:00+00:00    8.303925e-02
2023-05-01 00:00:00+00:00    7.959345e-02
2023-04-01 00:00:00+00:00    7.857473e-02
2023-03-01 00:00:00+00:00    7.630163e-02
2023-02-01 00:00:00+00:00    6.938899e-02
2023-01-01 00:00:00+00:00    6.804402e-02
2022-12-01 00:00:00+00:00    5.711244e-02
2022-11-01 00:00:00+00:00    5.980437e-02
2022-10-01 00:00:00+00:00    6.557653e-02
2022-09-01 00:00:00+00:00    5.930542e-02
2022-08-01 00:00:00+00:00    5.916951e-02
2022-07-01 00:00:00+00:00    3.895950e-02
2022-06-01 00:00:00+00:00    2.376891e-02
2022-05-01 00:00:00+00:00    4.464344e-02
2022-04-01 00:00:00+00:00    6.336353e-02
2022-03-01 00:00:00+00:00    7.740199e-02
2022-02-01 00:00:00+00:00    6.878975e-02
2022-01-01 00:00:00+00:00    6.318915e-02
2021-12-01 00:00:00+00:00    8.667930e-02
2021-11-01 00:00:00+00:00    1.086812e-01
2021-10-01 00:00:00+00:00    1.007606e-01
2021-09-01 00:00:00+00:00    7.023874e-02
2021-08-01 00:00:00+00:00    7.956145e-02
2021-07-01 00:00:00+00:00    6.049934e-02
2021-06-01 00:00:00+00:00    5.436708e-02
2021-05-01 00:00:00+00:00    6.456191e-02
2021-04-01 00:00:00+00:00   -1.419119e-04
2021-03-01 00:00:00+00:00   -3.124517e-05
2021-02-01 00:00:00+00:00   -2.293339e-05
2021-01-01 00:00:00+00:00    4.839411e-07
2020-12-01 00:00:00+00:00    4.531749e-07
dtype: float64

In [26]:
# Define the API endpoint and parameters
ldo_historical_api = "https://api.coingecko.com/api/v3/coins/lido-dao/market_chart?vs_currency=usd&days=1152&interval=daily"


# Send a GET request to the API endpoint
response10 = requests.get(ldo_historical_api)

# Check for a valid response
if response10.status_code == 200:
    # Parse the JSON response
    ldo_historical_pricedata = response10.json()
   # Extract the 'rows' list from the JSON data
    ldo_historical_price = ldo_historical_pricedata['prices']
    ldo_history = pd.DataFrame(ldo_historical_price, columns=['date','price'])
    ldo_market_cap = pd.DataFrame(ldo_historical_pricedata['market_caps'], columns=['date','marketcap'])
    ldo_supply = ldo_market_cap['marketcap'] / ldo_history['price']
    



ldo_supply = pd.DataFrame(ldo_supply, columns=['supply'])

ldo_supply.set_index(pd.to_datetime(ldo_history['date'], unit='ms'), inplace=True)

In [27]:
ldo_fixed = ldo_supply.groupby([pd.Grouper(freq='M')]).mean()

ttm_supply = ldo_fixed.tail(12).mean()

ttm_supply

supply    8.730053e+08
dtype: float64

In [28]:
ldo_history['daily_returns'] = ldo_history['price'].pct_change().dropna()

ldo_history['date'] = pd.to_datetime(ldo_history['date'], unit='ms')

ldo_history

                    date     price  daily_returns
0    2021-01-05 00:00:00  1.750891            NaN
1    2021-01-06 00:00:00  1.750891       0.000000
2    2021-01-07 00:00:00  1.760411       0.005437
3    2021-01-08 00:00:00  1.426809      -0.189502
4    2021-01-09 00:00:00  1.495403       0.048075
...                  ...       ...            ...
1085 2023-12-26 00:00:00  2.553696       0.051674
1086 2023-12-27 00:00:00  2.414790      -0.054394
1087 2023-12-28 00:00:00  2.834848       0.173952
1088 2023-12-29 00:00:00  2.707796      -0.044818
1089 2023-12-29 19:40:44  2.793071       0.031492

[1090 rows x 3 columns]

In [29]:
ldo_market_cap


ldo_market_cap.index = pd.to_datetime(ldo_history['date'])

monthly_cap = ldo_market_cap.resample('M').mean()

monthly_cap
#price_to_sales = ldo_history['price']

                    date     marketcap
date
2021-01-31  1.610928e+12  6.854723e+06
2021-02-28  1.613304e+12  2.424643e+07
2021-03-31  1.615853e+12  1.180871e+07
2021-04-30  1.618488e+12  2.743510e+07
2021-05-31  1.621123e+12  2.721061e+08
2021-06-30  1.623758e+12  5.922790e+07
2021-07-31  1.626394e+12  5.060745e+07
2021-08-31  1.629072e+12  1.646880e+08
2021-09-30  1.631707e+12  2.484564e+08
2021-10-31  1.634342e+12  2.118329e+08
2021-11-30  1.636978e+12  2.376678e+08
2021-12-31  1.639613e+12  2.024790e+08
2022-01-31  1.642291e+12  1.764782e+08
2022-02-28  1.644840e+12  1.684285e+08
2022-03-31  1.647389e+12  3.895530e+08
2022-04-30  1.650024e+12  1.014947e+09
2022-05-31  1.652659e+12  6.220011e+08
2022-06-30  1.655294e+12  3.149225e+08
2022-07-31  1.657930e+12  5.879399e+08
2022-08-31  1.660608e+12  1.270311e+09
2022-09-30  1.663243e+12  1.155195e+09
2022-10-31  1.665878e+12  1.022828e+09
2022-11-30  1.668514e+12  9.486879e+08
2022-12-31  1.671149e+12  8.353511e+08
2023-01-31  1.673827e+12  1.618612e+09
2023-02-28  1.676376e+12  2.225657e+09
2023-03-31  1.678925e+12  2.101258e+09
2023-04-30  1.681560e+12  2.032747e+09
2023-05-31  1.684195e+12  1.764089e+09
2023-06-30  1.686830e+12  1.726386e+09
2023-07-31  1.689466e+12  1.791624e+09
2023-08-31  1.692144e+12  1.534238e+09
2023-09-30  1.694779e+12  1.355440e+09
2023-10-31  1.697414e+12  1.459239e+09
2023-11-30  1.700050e+12  1.982990e+09
2023-12-31  1.702641e+12  2.100641e+09

In [30]:

# Convert the index of both DataFrames to the same type if necessary
monthly_cap.index = pd.to_datetime(monthly_cap.index)
lidoincome_df.index = pd.to_datetime(lidoincome_df.index)

In [31]:
roa_history

period
2023-12-01 00:00:00+00:00   -0.000028
2023-11-01 00:00:00+00:00    0.000002
2023-10-01 00:00:00+00:00   -0.000063
2023-09-01 00:00:00+00:00   -0.000128
2023-08-01 00:00:00+00:00    0.000024
2023-07-01 00:00:00+00:00    0.000080
2023-06-01 00:00:00+00:00    0.000054
2023-05-01 00:00:00+00:00   -0.000141
2023-04-01 00:00:00+00:00   -0.001177
2023-03-01 00:00:00+00:00   -0.001464
2023-02-01 00:00:00+00:00   -0.000593
2023-01-01 00:00:00+00:00   -0.000490
2022-12-01 00:00:00+00:00   -0.000595
2022-11-01 00:00:00+00:00   -0.000765
2022-10-01 00:00:00+00:00   -0.000760
2022-09-01 00:00:00+00:00   -0.001195
2022-08-01 00:00:00+00:00   -0.001632
2022-07-01 00:00:00+00:00   -0.000323
2022-06-01 00:00:00+00:00   -0.001104
2022-05-01 00:00:00+00:00   -0.001613
2022-04-01 00:00:00+00:00   -0.002530
2022-03-01 00:00:00+00:00   -0.001591
2022-02-01 00:00:00+00:00   -0.001887
2022-01-01 00:00:00+00:00   -0.002513
2021-12-01 00:00:00+00:00   -0.002293
2021-11-01 00:00:00+00:00   -0.002820
2021-10-01 00:00:00+00:00   -0.002981
2021-09-01 00:00:00+00:00   -0.012470
2021-08-01 00:00:00+00:00   -0.006786
2021-07-01 00:00:00+00:00   -0.003857
2021-06-01 00:00:00+00:00   -0.006581
2021-05-01 00:00:00+00:00   -0.011970
2021-04-01 00:00:00+00:00   -0.008496
2021-03-01 00:00:00+00:00   -0.010030
2021-02-01 00:00:00+00:00   -0.044689
2021-01-01 00:00:00+00:00   -0.080557
2020-12-01 00:00:00+00:00    0.000032
dtype: float64

In [32]:

# Normalize lidoincome_df index to the end of the month to match monthly_cap
lidoincome_df.index = lidoincome_df.index.to_period('M').to_timestamp('M')

# Reindex lidoincome_df to match monthly_cap's index
cap_reindexed = monthly_cap.reindex(lidoincome_df.index)

# Calculate the Price to Sales ratio
price_to_sales_ratio = cap_reindexed['marketcap'] / lidoincome_df['($) >Net Revenue']

# Replace infinities and fill NaNs
price_to_sales_ratio = price_to_sales_ratio.replace([np.inf, -np.inf], np.nan).fillna(0)

print(price_to_sales_ratio)

period
2023-12-31     315.181632
2023-11-30     321.111477
2023-10-31     292.681675
2023-09-30     290.901399
2023-08-31     289.521161
2023-07-31     322.786262
2023-06-30     360.613153
2023-05-31     276.580522
2023-04-30     408.497980
2023-03-31     433.420805
2023-02-28     628.008313
2023-01-31     481.191645
2022-12-31     318.250870
2022-11-30     273.084868
2022-10-31     329.464571
2022-09-30     441.510087
2022-08-31     472.425481
2022-07-31     272.916913
2022-06-30     147.833104
2022-05-31     194.251598
2022-04-30     277.101308
2022-03-31     139.720903
2022-02-28      79.606048
2022-01-31      76.152560
2021-12-31      69.505820
2021-11-30      81.179508
2021-10-31      86.615290
2021-09-30     135.067376
2021-08-31     129.381874
2021-07-31      71.545937
2021-06-30      96.035851
2021-05-31     432.251520
2021-04-30    1751.465686
2021-03-31       0.000000
2021-02-28       0.000000
2021-01-31       0.000000
2020-12-31       0.000000
Freq: -1M, dtype: float64

C:\Users\brand\AppData\Local\Temp\ipykernel_28560\1301475100.py:2: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  lidoincome_df.index = lidoincome_df.index.to_period('M').to_timestamp('M')

In [34]:
# Normalize the index of bookval to the end of the month
bookval.index = bookval.index.to_period('M').to_timestamp('M')

current_ratio_df.index = pd.to_datetime(current_ratio_df.index)

# Ensure price_to_sales_ratio index is also normalized to the end of the month
price_to_sales_ratio.index = price_to_sales_ratio.index.to_period('M').to_timestamp('M')

# Combine into a single DataFrame
combined_df = pd.DataFrame({
    'price_to_sales_ratio': price_to_sales_ratio,
    'bookval': bookval
})

# Normalize the indices of other series to end-of-month
roa_history.index = roa_history.index.to_period('M').to_timestamp('M')
roe_history.index = roe_history.index.to_period('M').to_timestamp('M')
debt_to_equity.index = debt_to_equity.index.to_period('M').to_timestamp('M')
debt_ratio_history.index = debt_ratio_history.index.to_period('M').to_timestamp('M')
current_ratio_df.index = current_ratio_df.index.to_period('M').to_timestamp('M')
net_profit_margin_history.index = net_profit_margin_history.index.to_period('M').to_timestamp('M')

# Add these series to combined_df
combined_df['roa_history'] = roa_history
combined_df['roe_history'] = roe_history
combined_df['debt_to_equity'] = debt_to_equity
combined_df['debt_ratio_history'] = debt_ratio_history
combined_df['current_ratio'] = current_ratio_df['current_ratio']
combined_df['net_profit_margin_history'] = net_profit_margin_history

print(combined_df)

            price_to_sales_ratio       bookval  roa_history   roe_history  \
period
2023-12-31            315.181632  1.050861e-01    -0.000028     -0.006440
2023-11-30            321.111477  9.079522e-02     0.000002      0.000589
2023-10-31            292.681675  8.067108e-02    -0.000063     -0.014190
2023-09-30            290.901399  7.548335e-02    -0.000128     -0.028167
2023-08-31            289.521161  7.463715e-02     0.000024      0.005006
2023-07-31            322.786262  8.166765e-02     0.000080      0.016435
2023-06-30            360.613153  8.303925e-02     0.000054      0.010590
2023-05-31            276.580522  7.959345e-02    -0.000141     -0.026022
2023-04-30            408.497980  7.857473e-02    -0.001177     -0.189991
2023-03-31            433.420805  7.630163e-02    -0.001464     -0.223725
2023-02-28            628.008313  6.938899e-02    -0.000593     -0.084782
2023-01-31            481.191645  6.804402e-02    -0.000490     -0.062206
2022-12-31            318.250870  5.711244e-02    -0.000595     -0.065618
2022-11-30            273.084868  5.980437e-02    -0.000765     -0.086516
2022-10-31            329.464571  6.557653e-02    -0.000760     -0.092211
2022-09-30            441.510087  5.930542e-02    -0.001195     -0.128755
2022-08-31            472.425481  5.916951e-02    -0.001632     -0.201820
2022-07-31            272.916913  3.895950e-02    -0.000323     -0.065409
2022-06-30            147.833104  2.376891e-02    -0.001104     -0.223777
2022-05-31            194.251598  4.464344e-02    -0.001613     -0.327664
2022-04-30            277.101308  6.336353e-02    -0.002530     -0.453959
2022-03-31            139.720903  7.740199e-02    -0.001591     -0.221337
2022-02-28             79.606048  6.878975e-02    -0.001887     -0.177959
2022-01-31             76.152560  6.318915e-02    -0.002513     -0.212633
2021-12-31             69.505820  8.667930e-02    -0.002293     -0.176518
2021-11-30             81.179508  1.086812e-01    -0.002820     -0.202901
2021-10-31             86.615290  1.007606e-01    -0.002981     -0.203277
2021-09-30            135.067376  7.023874e-02    -0.012470     -0.796173
2021-08-31            129.381874  7.956145e-02    -0.006786     -0.377933
2021-07-31             71.545937  6.049934e-02    -0.003857     -0.127257
2021-06-30             96.035851  5.436708e-02    -0.006581     -0.176165
2021-05-31            432.251520  6.456191e-02    -0.011970     -0.262798
2021-04-30           1751.465686 -1.419119e-04    -0.008496     47.259517
2021-03-31              0.000000 -3.124517e-05    -0.010030    129.872221
2021-02-28              0.000000 -2.293339e-05    -0.044689    563.701741
2021-01-31              0.000000  4.839411e-07    -0.080557 -25892.907345
2020-12-31              0.000000  4.531749e-07     0.000032      0.988568

            debt_to_equity  debt_ratio_history  current_ratio  \
period
2023-12-31      230.244001            0.995676       1.004343
2023-11-30      235.467651            0.995771       1.004247
2023-10-31      222.860606            0.995533       1.004487
2023-09-30      218.765434            0.995450       1.004571
2023-08-31      211.273148            0.995289       1.004733
2023-07-31      203.176752            0.995102       1.004922
2023-06-30      196.159109            0.994928       1.005098
2023-05-31      183.885811            0.994591       1.005438
2023-04-30      160.388388            0.993804       1.006235
2023-03-31      151.801139            0.993456       1.006588
2023-02-28      141.898046            0.993002       1.007047
2023-01-31      126.072252            0.992130       1.007932
2022-12-31      109.256674            0.990930       1.009153
2022-11-30      112.019322            0.991152       1.008927
2022-10-31      120.280966            0.991755       1.008314
2022-09-30      106.749060            0.990719       1.009368
2022-08-31      122.667595            0.991914       1.008152
2022-07-31      201.441537            0.995060       1.004964
2022-06-30      201.693618            0.995066       1.004958
2022-05-31      202.170853            0.995078       1.004946
2022-04-30      178.424983            0.994427       1.005605
2022-03-31      138.137383            0.992813       1.007239
2022-02-28       93.283077            0.989394       1.010720
2022-01-31       83.600823            0.988180       1.011962
2021-12-31       75.974241            0.987009       1.013162
2021-11-30       70.948759            0.986101       1.014095
2021-10-31       67.200990            0.985337       1.014881
2021-09-30       62.848077            0.984338       1.015911
2021-08-31       54.689885            0.982043       1.018285
2021-07-31       31.991880            0.969690       1.031258
2021-06-30       25.770186            0.962645       1.038805
2021-05-31       20.954760            0.954452       1.047722
2021-04-30    -5563.841920            1.000180       0.999820
2021-03-31   -12948.876552            1.000077       0.999923
2021-02-28   -12614.971421            1.000079       0.999921
2021-01-31   321423.939898            0.999997       1.000003
2020-12-31    30870.920941            0.999968       1.000032

            net_profit_margin_history
period
2023-12-31                  -0.090389
2023-11-30                   0.007715
2023-10-31                  -0.204389
2023-09-30                  -0.406187
2023-08-31                   0.062763
2023-07-31                   0.215263
2023-06-30                   0.163517
2023-05-31                  -0.289061
2023-04-30                  -2.670528
2023-03-31                  -3.134398
2023-02-28                  -1.477672
2023-01-31                  -1.120139
2022-12-31                  -1.270948
2022-11-30                  -1.325806
2022-10-31                  -1.733859
2022-09-30                  -2.597874
2022-08-31                  -3.953299
2022-07-31                  -1.052989
2022-06-30                  -2.222633
2022-05-31                  -4.066632
2022-04-30                  -6.990785
2022-03-31                  -5.469864
2022-02-28                  -5.150492
2022-01-31                  -5.161099
2021-12-31                  -4.675422
2021-11-30                  -6.704870
2021-10-31                  -7.455114
2021-09-30                 -27.061986
2021-08-31                 -21.028289
2021-07-31                  -9.688948
2021-06-30                 -13.824101
2021-05-31                 -23.992259
2021-04-30                -381.134335
2021-03-31                       -inf
2021-02-28                       -inf
2021-01-31                       -inf
2020-12-31                        inf

C:\Users\brand\AppData\Local\Temp\ipykernel_28560\814159358.py:20: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  current_ratio_df.index = current_ratio_df.index.to_period('M').to_timestamp('M')
C:\Users\brand\AppData\Local\Temp\ipykernel_28560\814159358.py:21: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  net_profit_margin_history.index = net_profit_margin_history.index.to_period('M').to_timestamp('M')

In [35]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

# Replace inf/-inf with NaN
combined_df.replace([np.inf, -np.inf], np.nan, inplace=True)

# Impute missing values (e.g., NaNs)
imputer = SimpleImputer(strategy='mean')
imputed_combined_df = pd.DataFrame(imputer.fit_transform(combined_df), columns=combined_df.columns, index=combined_df.index)

# Scale the metrics in combined_df
standard_scaler = StandardScaler()
metrics_standard_scaled = pd.DataFrame(standard_scaler.fit_transform(imputed_combined_df), 
                                       columns=imputed_combined_df.columns, 
                                       index=imputed_combined_df.index)



# Assuming 'combined_df' is your DataFrame
standard_scaler = StandardScaler()
metrics_standard_scaled = pd.DataFrame(standard_scaler.fit_transform(combined_df), 
                                       columns=combined_df.columns, 
                                       index=combined_df.index)

# Define the function to score each metric based on its Z-score
def score_metric(value, is_higher_better=True, max_score=3):
    if is_higher_better:
        return max(1, min(max_score, (value + 3) / 6 * max_score))
    else:
        return max(1, min(max_score, (-value + 3) / 6 * max_score))

# Define the original weights for each metric in 'combined_df'
weights = {
    'price_to_sales_ratio': 0.10,  # Lower is better
    'bookval': 0.15,
    'roa_history': 0.15,
    'roe_history': 0.15,
    'debt_to_equity': 0.15,  # Lower is better
    'debt_ratio_history': 0.10,  # Lower is better
    'current_ratio': 0.15,
    'net_profit_margin_history': 0.15
}

# Define which metrics are considered 'higher is better'
higher_is_better_metrics = [
    'bookval',
    'roa_history',
    'roe_history',
    'current_ratio',
    'net_profit_margin_history'
]

# Score and calculate weighted scores
for metric in weights:
    higher_is_better = metric in higher_is_better_metrics
    metrics_standard_scaled[metric + '_score'] = metrics_standard_scaled[metric].apply(
        score_metric, args=(higher_is_better,))
    metrics_standard_scaled[metric + '_weighted_score'] = metrics_standard_scaled[metric + '_score'] * weights[metric]

# Compute overall financial health score
metrics_standard_scaled['financial_health_score'] = metrics_standard_scaled[
    [col for col in metrics_standard_scaled.columns if 'weighted_score' in col]
].sum(axis=1)

# Normalize and categorize the score
max_possible_score = sum(weights.values()) * 3
metrics_standard_scaled['normalized_financial_health_score'] = (
    metrics_standard_scaled['financial_health_score'] / max_possible_score * 3
)

def categorize_score(score):
    if score >= 2.5:
        return 'good'
    elif score >= 1.5:
        return 'okay'
    else:
        return 'bad'

metrics_standard_scaled['financial_health_category'] = metrics_standard_scaled[
    'normalized_financial_health_score'
].apply(categorize_score)

# Display the results
print(metrics_standard_scaled[['normalized_financial_health_score', 'financial_health_category']])

            normalized_financial_health_score financial_health_category
period
2023-12-31                           1.603314                      okay
2023-11-30                           1.568228                      okay
2023-10-31                           1.551305                      okay
2023-09-30                           1.539948                      okay
2023-08-31                           1.541261                      okay
2023-07-31                           1.555057                      okay
2023-06-30                           1.554207                      okay
2023-05-31                           1.561794                      okay
2023-04-30                           1.540671                      okay
2023-03-31                           1.533709                      okay
2023-02-28                           1.507400                      okay
2023-01-31                           1.529105                      okay
2022-12-31                           1.542327                      okay
2022-11-30                           1.552200                      okay
2022-10-31                           1.549449                      okay
2022-09-30                           1.526494                      okay
2022-08-31                           1.503993                      okay
2022-07-31                           1.460584                       bad
2022-06-30                           1.459075                       bad
2022-05-31                           1.476674                       bad
2022-04-30                           1.507590                      okay
2022-03-31                           1.586442                      okay
2022-02-28                           1.614485                      okay
2022-01-31                           1.613197                      okay
2021-12-31                           1.684181                      okay
2021-11-30                           1.739640                      okay
2021-10-31                           1.727738                      okay
2021-09-30                           1.595816                      okay
2021-08-31                           1.678263                      okay
2021-07-31                           1.814767                      okay
2021-06-30                           1.864011                      okay
2021-05-31                           1.810109                      okay
2021-04-30                           1.224836                       bad
2021-03-31                           1.591312                      okay
2021-02-28                           1.549559                      okay
2021-01-31                           1.366130                       bad
2020-12-31                           1.580524                      okay

In [36]:
from apis import dpi_history



dpi_history['daily_returns'] = dpi_history['price'].pct_change().dropna()

dpi_history_filtered = dpi_history[dpi_history.index >= '2021-01-05']

dpi_history_filtered

                          price  daily_returns
date
2021-01-05 00:00:00  139.750780       0.040895
2021-01-06 00:00:00  162.557353       0.163195
2021-01-07 00:00:00  167.344615       0.029450
2021-01-08 00:00:00  166.694692      -0.003884
2021-01-09 00:00:00  165.604074      -0.006543
...                         ...            ...
2023-12-25 00:00:00   95.152037       0.026007
2023-12-26 00:00:00   98.389900       0.034028
2023-12-27 00:00:00   96.242805      -0.021822
2023-12-28 00:00:00  104.148817       0.082147
2023-12-28 20:56:38  108.160416       0.038518

[1089 rows x 2 columns]

In [37]:
ldo_history

                    date     price  daily_returns
0    2021-01-05 00:00:00  1.750891            NaN
1    2021-01-06 00:00:00  1.750891       0.000000
2    2021-01-07 00:00:00  1.760411       0.005437
3    2021-01-08 00:00:00  1.426809      -0.189502
4    2021-01-09 00:00:00  1.495403       0.048075
...                  ...       ...            ...
1085 2023-12-26 00:00:00  2.553696       0.051674
1086 2023-12-27 00:00:00  2.414790      -0.054394
1087 2023-12-28 00:00:00  2.834848       0.173952
1088 2023-12-29 00:00:00  2.707796      -0.044818
1089 2023-12-29 19:40:44  2.793071       0.031492

[1090 rows x 3 columns]

In [38]:
from sklearn.linear_model import LinearRegression

# Merge the two dataframes on the date
merged_df = dpi_history_filtered.merge(ldo_history, on='date', suffixes=('_dpi', '_ldo'))

# Drop rows with missing values in daily_returns for either dataframe
merged_df.dropna(subset=['daily_returns_dpi', 'daily_returns_ldo'], inplace=True)

# Prepare the data for regression
X = merged_df['daily_returns_dpi'].values.reshape(-1, 1)
Y = merged_df['daily_returns_ldo'].values

# Create and fit the model
model = LinearRegression()
model.fit(X, Y)

# Extract the beta coefficient
beta = model.coef_[0]

print(f"Beta coefficient: {beta}")

Beta coefficient: 0.9329285668784106

In [39]:
print(beta)

0.9329285668784106

In [40]:
ldo_history['daily_returns'].dropna()

1       0.000000
2       0.005437
3      -0.189502
4       0.048075
5      -0.434963
          ...
1085    0.051674
1086   -0.054394
1087    0.173952
1088   -0.044818
1089    0.031492
Name: daily_returns, Length: 1089, dtype: float64

In [41]:
dpi_history_filtered['daily_returns'].dropna()

date
2021-01-05 00:00:00    0.040895
2021-01-06 00:00:00    0.163195
2021-01-07 00:00:00    0.029450
2021-01-08 00:00:00   -0.003884
2021-01-09 00:00:00   -0.006543
                         ...
2023-12-25 00:00:00    0.026007
2023-12-26 00:00:00    0.034028
2023-12-27 00:00:00   -0.021822
2023-12-28 00:00:00    0.082147
2023-12-28 20:56:38    0.038518
Name: daily_returns, Length: 1089, dtype: float64

In [46]:
lidoyield_url = "https://api.dune.com/api/v1/query/570874/results/"
params_lidoyield = {
    "api_key": "z4mDm3TRGLB3hta98szuGAqineaf6XCh"
}

# Send a GET request to the API endpoint
response10 = requests.get(lidoyield_url, params=params_lidoyield)

# Check for a valid response
#if response10.status_code == 200:
    # Parse the JSON response
lidoyield_data = response10.json()
    # Extract the 'rows' list from the JSON data
lidoyield_rows_data = lidoyield_data['result']['rows']
lidoyield_df = pd.DataFrame(lidoyield_rows_data)


lidoyield_df.head()

,Lido staking APR(instant),Lido staking APR(ma_30),Lido staking APR(ma_7),protocol APR(ma_7),protocol_apr,time
0,3.891297,3.787222,3.576885,3.974317,4.323663,2023-12-28 12:21:59.000 UTC
1,3.491551,3.779718,3.623457,4.026063,3.879502,2023-12-27 12:22:23.000 UTC
2,3.309789,3.780335,3.659222,4.065802,3.677544,2023-12-26 12:22:23.000 UTC
3,3.633079,3.780905,3.720877,4.134307,4.036755,2023-12-25 12:21:59.000 UTC
4,3.458400,3.777509,3.718140,4.131266,3.842667,2023-12-24 12:23:47.000 UTC

In [47]:
lido_cost_debt = lidoyield_df['Lido staking APR(instant)'] / 100
cost_of_debt = lido_cost_debt.iloc[0]

cost_of_debt

0.038912967653414926

In [48]:
from formulas import calculate_annual_return

ldo_history.set_index('date', inplace=True)

# Group by year and apply the function
#annual_returns = ldo_history.groupby(ldo_history.index.year).apply(calculate_annual_return)

#print(annual_returns)

In [49]:
from apis import tbilldf

# Assuming tbilldf.index has been correctly set to a datetime format
tbilldf['decimal'] = tbilldf['value'] / 100
tbill_yearly = tbilldf.groupby(tbilldf.index.year).mean(numeric_only=True)

tbill_filtered = tbill_yearly['decimal'][-3:]

tbill_filtered

date
2021    0.000004
2022    0.000202
2023    0.000505
Name: decimal, dtype: float64

In [50]:
print(beta)

0.9329285668784106

In [51]:
from makerdao import average_yearly_risk_premium, current_risk_free
"""
annual_dpi_return = annual_returns[0][-3:]
annual_dpi_return
"""

cost_equity = current_risk_free + beta * average_yearly_risk_premium

ImportError: cannot import name 'average_yearly_risk_premium' from 'makerdao' (makerdao.ipynb)

In [ ]:
print(cost_equity)

In [ ]:
formatted_market_value = "{:,.0f}".format(ldo_market_value)

formatted_market_value

In [ ]:
live_liabilities = "{:,.0f}".format(liabilities[0])

live_liabilities

In [ ]:
cost_equity

In [ ]:
cost_of_debt

In [ ]:
value_financing = ldo_market_value + liabilities[0]
formatted_financing = "{:,.0f}".format(value_financing)

formatted_financing

In [ ]:
print('market value of equity:', formatted_market_value)
print('value of liabilities:', live_liabilities)
print('cost of equity:', cost_equity)
print('cost of debt:', cost_of_debt)
print('proportion equity financed:', (ldo_market_value / value_financing) * 100)
print('proportion debt financed:', (liabilities[0] / value_financing) * 100)

In [ ]:
e = ldo_market_value
d = liabilities
re = cost_equity
v = e + d
rd = cost_of_debt

wacc = ((e/v) * re) + ((d/v) * rd)

print('wacc is:',wacc[0])

In [ ]:
from makerdao import tbilldf_after2020

tbill = tbilldf_after2020[tbilldf_after2020.index > 2020] / 100

tbill

In [ ]:
ldo_annual_returns = ldo_history.groupby(ldo_history.index.year).apply(calculate_annual_return)
ldo_annual_returns = pd.DataFrame(ldo_annual_returns)

ldo_annual_returns

In [ ]:
excess_returns = ldo_annual_returns[0] - tbill['value']
excess_returns

In [ ]:
ldo_avg_excess_return = excess_returns.mean()

ldo_avg_excess_return

In [ ]:
def get_ldo_historical_data():
    ldo_historical_api = "https://api.coingecko.com/api/v3/coins/lido-dao/market_chart?vs_currency=usd&days=1152&interval=daily"
    response = requests.get(ldo_historical_api)
    ldo_history = pd.DataFrame()
    ldo_market_cap = pd.DataFrame()

    if response.status_code == 200:
        data = response.json()
        ldo_history = pd.DataFrame(data['prices'], columns=['date', 'price'])
        ldo_market_cap = pd.DataFrame(data['market_caps'], columns=['date', 'marketcap'])

    return ldo_history, ldo_market_cap

# Call the function
ldo_history, ldo_market_cap = get_ldo_historical_data()

# Convert 'date' columns to datetime and set as index
ldo_history['date'] = pd.to_datetime(ldo_history['date'], unit='ms')
ldo_market_cap['date'] = pd.to_datetime(ldo_market_cap['date'], unit='ms')
ldo_history.set_index('date', inplace=True)
ldo_market_cap.set_index('date', inplace=True)

In [ ]:
ldo_history

In [ ]:
def calculate_historical_returns(prices):
    prices['date'] = prices.index
    starting_value = prices.iloc[0]['price']
    ending_value = prices.iloc[-1]['price']
    number_of_years = (prices.iloc[-1]['date'] - prices.iloc[0]['date']).days / 365.25
    cagr = (ending_value/starting_value) ** (1/number_of_years) - 1
    return cagr

lido_cagr = calculate_historical_returns(ldo_history)

In [ ]:
lido_cagr

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Assuming 'combined_df' is your DataFrame
standard_scaler = StandardScaler()
metrics_standard_scaled = pd.DataFrame(standard_scaler.fit_transform(combined_df), 
                                       columns=combined_df.columns, 
                                       index=combined_df.index)

# Define the function to score each metric based on its Z-score
def score_metric(value, is_higher_better=True, max_score=3):
    if is_higher_better:
        return max(1, min(max_score, (value + 3) / 6 * max_score))
    else:
        return max(1, min(max_score, (-value + 3) / 6 * max_score))

# Define the original weights for each metric in 'combined_df'
weights = {
    'price_to_sales_ratio': 0.10,  # Lower is better
    'bookval': 0.15,
    'roa_history': 0.15,
    'roe_history': 0.15,
    'debt_to_equity': 0.15,  # Lower is better
    'debt_ratio_history': 0.10,  # Lower is better
    'current_ratio': 0.15,
    'net_profit_margin_history': 0.15
}

# Define which metrics are considered 'higher is better'
higher_is_better_metrics = [
    'bookval',
    'roa_history',
    'roe_history',
    'current_ratio',
    'net_profit_margin_history'
]

# Score and calculate weighted scores
for metric in weights:
    higher_is_better = metric in higher_is_better_metrics
    metrics_standard_scaled[metric + '_score'] = metrics_standard_scaled[metric].apply(
        score_metric, args=(higher_is_better,))
    metrics_standard_scaled[metric + '_weighted_score'] = metrics_standard_scaled[metric + '_score'] * weights[metric]

# Compute overall financial health score
metrics_standard_scaled['financial_health_score'] = metrics_standard_scaled[
    [col for col in metrics_standard_scaled.columns if 'weighted_score' in col]
].sum(axis=1)

# Normalize and categorize the score
max_possible_score = sum(weights.values()) * 3
metrics_standard_scaled['normalized_financial_health_score'] = (
    metrics_standard_scaled['financial_health_score'] / max_possible_score * 3
)

def categorize_score(score):
    if score >= 2.5:
        return 'good'
    elif score >= 1.5:
        return 'okay'
    else:
        return 'bad'

metrics_standard_scaled['financial_health_category'] = metrics_standard_scaled[
    'normalized_financial_health_score'
].apply(categorize_score)

# Display the results
print(metrics_standard_scaled[['normalized_financial_health_score', 'financial_health_category']])