In [7]:
import pandas as pd
import requests
import yfinance as yf
import import_ipynb

In [8]:
# Define the API endpoint and parameters
url = "https://api.dune.com/api/v1/query/2840463/results/"
params = {
    "api_key": "z4mDm3TRGLB3hta98szuGAqineaf6XCh"
}

# Send a GET request to the API endpoint
response = requests.get(url, params=params)

# Check for a valid response
if response.status_code == 200:
    # Parse the JSON response
    datas = response.json()

    # Extract the 'rows' list from the JSON data
    rows_data = datas['result']['rows']

    # Convert the data into a DataFrame
    mkrdao = pd.DataFrame(rows_data)

    # Print the DataFrame to the console
    print(mkrdao.head())  # Print the first 5 rows
else:
    print(f"Failed to retrieve data: {response.status_code}")

        balance          item  normalized                   period
0  2.274091e+09  Crypto-Loans    0.430636  2021-07-01 00:00:00.000
1  2.454859e+09  Crypto-Loans    0.373361  2022-07-09 00:00:00.000
2  3.741763e+08  Crypto-Loans    1.000000  2020-08-06 00:00:00.000
3  1.375082e+09  Crypto-Loans    0.261815  2023-01-21 00:00:00.000
4  1.764675e+09  Crypto-Loans    0.301647  2022-10-28 00:00:00.000

In [9]:
revenueapi = "https://api.dune.com/api/v1/query/2641549/results"
revparams = {
    "api_key": "z4mDm3TRGLB3hta98szuGAqineaf6XCh"
}

revresponse = requests.get(revenueapi, params=revparams)

#if revresponse.status_code == 200:
revdata = revresponse.json()
    

    
revrows = revdata['result']['rows']
    
revdf = pd.DataFrame(revrows)
    
monthly_stats = revdf.groupby(['period']).sum()

item_month = revdf.groupby(['period','item']).sum()

C:\Users\brand\AppData\Local\Temp\ipykernel_1688\878090341.py:17: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  monthly_stats = revdf.groupby(['period']).sum()

In [10]:
# Define the API endpoint and parameters
makerapi = "https://api.coingecko.com/api/v3/coins/maker"


# Send a GET request to the API endpoint
response2 = requests.get(makerapi)

# Check for a valid response
if response2.status_code == 200:
    # Parse the JSON response
    makerpricedata = response2.json()
   # Extract the 'rows' list from the JSON data
    market_value = makerpricedata['market_data']['market_cap']['usd']
    current_price = makerpricedata['market_data']['current_price']['usd']
    supply = makerpricedata['market_data']['circulating_supply']
    


print(market_value, current_price, supply)

1490466216 1625.36 918885.488008579

In [11]:
#beta - we will use DPI as benchmark, an index of various defi assets

# Define the API endpoint and parameters
dpiapi = "https://api.coingecko.com/api/v3/coins/defipulse-index"


# Send a GET request to the API endpoint
response3 = requests.get(dpiapi)

print(response3)

# Check for a valid response
if response3.status_code == 200:
    # Parse the JSON response
    dpipricedata = response3.json()
   # Extract the 'rows' list from the JSON data
    dpi_market_value = dpipricedata['market_data']['market_cap']['usd']
    dpi_current_price = dpipricedata['market_data']['current_price']['usd']
    dpi_supply = dpipricedata['market_data']['circulating_supply']
    
print(dpi_current_price)

<Response [200]>
107.42

In [12]:
#beta - we will use DPI as benchmark, an index of various defi assets

# Define the API endpoint and parameters
dpi_historical_api = "https://api.coingecko.com/api/v3/coins/defipulse-index/market_chart?vs_currency=usd&days=1152&interval=daily"


# Send a GET request to the API endpoint
response4 = requests.get(dpi_historical_api)

print(response4)

# Check for a valid response
#if response4.status_code == 200:
    # Parse the JSON response
dpi_historical_pricedata = response4.json()
   # Extract the 'rows' list from the JSON data
dpi_historical_price = dpi_historical_pricedata['prices']
dpi_history = pd.DataFrame(dpi_historical_price, columns=['date','price'])
    
dpi_history['daily_returns'] = dpi_history['price'].pct_change().dropna()

dpi_history = dpi_history.iloc[1:] #first day of trading nothing to get for return

# Convert the 'date' column from UNIX timestamps in milliseconds to datetime objects
dpi_history['date'] = pd.to_datetime(dpi_history['date'], unit='ms')

<Response [200]>

In [13]:
# Define the API endpoint and parameters
mkr_historical_api = "https://api.coingecko.com/api/v3/coins/maker/market_chart?vs_currency=usd&days=1152&interval=daily"


# Send a GET request to the API endpoint
response5 = requests.get(mkr_historical_api)

print(response5)

# Check for a valid response
if response5.status_code == 200:
    # Parse the JSON response
    mkr_historical_pricedata = response5.json()
   # Extract the 'rows' list from the JSON data
    mkr_historical_price = mkr_historical_pricedata['prices']
    mkr_history = pd.DataFrame(mkr_historical_price, columns=['date','price'])
    mkr_market_cap = pd.DataFrame(mkr_historical_pricedata['market_caps'], columns=['date', 'marketcap'])
    
   
mkr_history['daily_returns'] = mkr_history['price'].pct_change().dropna()

mkr_history = mkr_history.iloc[1:]

# Convert the 'date' column from UNIX timestamps in milliseconds to datetime objects
mkr_history['date'] = pd.to_datetime(mkr_history['date'], unit='ms')

# Check the converted dates
print(mkr_history)

historical_mk = mkr_market_cap

<Response [200]>
                    date        price  daily_returns
1    2020-11-03 00:00:00   523.434663      -0.028638
2    2020-11-04 00:00:00   521.372827      -0.003939
3    2020-11-05 00:00:00   520.993567      -0.000727
4    2020-11-06 00:00:00   531.541990       0.020247
5    2020-11-07 00:00:00   539.364565       0.014717
...                  ...          ...            ...
1148 2023-12-25 00:00:00  1396.735641       0.009856
1149 2023-12-26 00:00:00  1406.249792       0.006812
1150 2023-12-27 00:00:00  1410.039453       0.002695
1151 2023-12-28 00:00:00  1529.159299       0.084480
1152 2023-12-28 13:35:48  1649.377634       0.078617

[1152 rows x 3 columns]

In [14]:
# Define the API endpoint and parameters
mkr_vault_url = "https://api.dune.com/api/v1/query/17338/results/"
params_vault = {
    "api_key": "z4mDm3TRGLB3hta98szuGAqineaf6XCh"
}

# Send a GET request to the API endpoint
response7 = requests.get(mkr_vault_url, params=params_vault)

# Check for a valid response
if response7.status_code == 200:
    # Parse the JSON response
    mkr_vault_data = response7.json()
    # Extract the 'rows' list from the JSON data
    mkr_vault_rows_data = mkr_vault_data['result']['rows']
    mkr_vault_df = pd.DataFrame(mkr_vault_rows_data)


print(mkr_vault_df)

    collateral  collateral_rank   period       revenues
0       WBTC-A                2  2023-12  117225.548660
1        ETH-B                4  2023-12  176593.255108
2        ETH-C                3  2023-12  726338.764801
3        ETH-A                1  2023-12  530864.965108
4     WSTETH-B                5  2023-12  732565.585554
..         ...              ...      ...            ...
228      ETH-A                1  2020-01  435155.467573
229      ETH-A                1  2019-12  197307.846004
230     Others               99  2019-12    5191.158747
231     Others               99  2019-11     748.339730
232      ETH-A                1  2019-11   21038.916069

[233 rows x 4 columns]

In [15]:
lidobs_url = "https://api.dune.com/api/v1/query/2484656/results/"
params_lidobs = {
    "api_key": "z4mDm3TRGLB3hta98szuGAqineaf6XCh"
}

# Send a GET request to the API endpoint
response8 = requests.get(lidobs_url, params=params_lidobs)

# Check for a valid response
#if response8.status_code == 200:
    # Parse the JSON response
lidobs_data = response8.json()
    # Extract the 'rows' list from the JSON data
lidobs_rows_data = lidobs_data['result']['rows']
lidobs_df = pd.DataFrame(lidobs_rows_data)


lidobs_df.columns

Index(['($) Changes from net rewards rate after grants',
       '($) Changes in surplus', '($) Changes through LDO token transactions',
       '($) Changes through rate translations', '($) Surplus Change',
       '($) srpls chk', '>Assets', '>Assets ($)', '>Liabilities',
       '>Liabilities ($)', '>Surplus', '>Surplus ($)',
       'Changes from net rewards rate after grants', 'Changes in surplus',
       'Changes through LDO token transactions',
       'Changes through rate translations', 'Omnibuffer ETH',
       'Omnibuffer ETH ($)', 'Protocol Assets', 'Protocol Assets ($)',
       'Slashing Provision', 'Slashing Provision ($)', 'Staked ETH',
       'Staked ETH ($)', 'Surplus Change', 'chk', 'chk ($)', 'period',
       'srpls chk', 'stETH', 'stETH ($)'],
      dtype='object')

In [16]:
# Define the API endpoint and parameters
tbill_historical_api = "https://api.stlouisfed.org/fred/series/observations?series_id=TB3MS&api_key=af3aeb14543cb05941f1b87abc3e3b7b&file_type=json"


# Send a GET request to the API endpoint
response6 = requests.get(tbill_historical_api)

print(response6)

# Check for a valid response
if response6.status_code == 200:
    # Parse the JSON response
    tbill_historical_pricedata = response6.json()
    
    
""" #Extract the 'rows' list from the JSON data
    tbill_historical_price = tbill_historical_pricedata['prices']
    mkr_history = pd.DataFrame(mkr_historical_price, columns=['date','price'])
    
print(mkr_history)
print(type(mkr_history['date']))
"""
tbilldf = pd.DataFrame(tbill_historical_pricedata["observations"])
tbilldf

<Response [200]>

     realtime_start realtime_end        date value
0        2023-12-28   2023-12-28  1934-01-01  0.72
1        2023-12-28   2023-12-28  1934-02-01  0.62
2        2023-12-28   2023-12-28  1934-03-01  0.24
3        2023-12-28   2023-12-28  1934-04-01  0.15
4        2023-12-28   2023-12-28  1934-05-01  0.16
...             ...          ...         ...   ...
1074     2023-12-28   2023-12-28  2023-07-01  5.25
1075     2023-12-28   2023-12-28  2023-08-01  5.30
1076     2023-12-28   2023-12-28  2023-09-01  5.32
1077     2023-12-28   2023-12-28  2023-10-01  5.34
1078     2023-12-28   2023-12-28  2023-11-01  5.27

[1079 rows x 4 columns]

In [17]:
# Define the API endpoint and parameters
tbill_historical_api = "https://api.stlouisfed.org/fred/series/observations?series_id=TB3MS&api_key=af3aeb14543cb05941f1b87abc3e3b7b&file_type=json"


# Send a GET request to the API endpoint
response6 = requests.get(tbill_historical_api)

print(response6)

# Check for a valid response
if response6.status_code == 200:
    # Parse the JSON response
    tbill_historical_pricedata = response6.json()
    
    
""" #Extract the 'rows' list from the JSON data
    tbill_historical_price = tbill_historical_pricedata['prices']
    mkr_history = pd.DataFrame(mkr_historical_price, columns=['date','price'])
    
print(mkr_history)
print(type(mkr_history['date']))
"""
tbilldf = pd.DataFrame(tbill_historical_pricedata["observations"])

tbilldf["date"] = pd.to_datetime(tbilldf["date"])

tbilldf.set_index('date', inplace=True)

tbilldf['value'] = tbilldf['value'].astype(float)

<Response [200]>

In [18]:
BTC = yf.Ticker("BTC-USD")

# get all stock infov
BTC_history = BTC.history(period='max', interval='1mo')

BTC_history.index = pd.to_datetime(BTC_history.index)

filtered_BTC_history = BTC_history[(BTC_history.index >= "2019-12") & (BTC_history.index < "2023-11")]

filtered_BTC_history.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-01 00:00:00+00:00,27218.412109,31389.539062,24797.167969,30477.251953,481734214225,0.0,0.0
2023-07-01 00:00:00+00:00,30471.847656,31814.515625,28934.294922,29230.111328,382224489090,0.0,0.0
2023-08-01 00:00:00+00:00,29230.873047,30176.796875,25409.111328,25931.472656,437724169499,0.0,0.0
2023-09-01 00:00:00+00:00,25934.021484,27488.763672,24930.296875,26967.916016,337637313742,0.0,0.0
2023-10-01 00:00:00+00:00,26967.396484,35150.433594,26558.320312,34667.781250,476425634860,0.0,0.0

In [19]:
lidobs_url = "https://api.dune.com/api/v1/query/2484656/results/"
params_lidobs = {
    "api_key": "z4mDm3TRGLB3hta98szuGAqineaf6XCh"
}

# Send a GET request to the API endpoint
response8 = requests.get(lidobs_url, params=params_lidobs)

# Check for a valid response
#if response8.status_code == 200:
    # Parse the JSON response
lidobs_data = response8.json()
    # Extract the 'rows' list from the JSON data
lidobs_rows_data = lidobs_data['result']['rows']
lidobs_df = pd.DataFrame(lidobs_rows_data)


lidobs_df.head()

,($) Changes from net rewards rate after grants,($) Changes in surplus,($) Changes through LDO token transactions,($) Changes through rate translations,($) Surplus Change,($) srpls chk,>Assets,>Assets ($),>Liabilities,>Liabilities ($),...,Slashing Provision ($),Staked ETH,Staked ETH ($),Surplus Change,chk,chk ($),period,srpls chk,stETH,stETH ($)
0,-7.294701e+05,0.0,1.694844e+06,1.277938e+07,1.374475e+07,2.197921e-07,9.196523e+06,2.188028e+10,9.156775e+06,2.178571e+10,...,1.494356e+07,9.127900e+06,2.171701e+10,358.876543,1.552680e-08,-3.013978e-06,2023-12-01 00:00:00.000 UTC,-2.216893e-12,9.150494e+06,2.177076e+10
1,4.764368e+04,0.0,2.801474e+03,8.961807e+06,9.012252e+06,-1.098961e-07,9.314282e+06,1.911216e+10,9.274893e+06,1.903134e+10,...,1.285207e+07,9.259291e+06,1.899932e+10,-165.763744,1.423094e-08,-1.141823e-05,2023-11-01 00:00:00.000 UTC,5.968559e-13,9.268629e+06,1.901849e+10
2,-1.019035e+06,0.0,1.235038e+05,5.513510e+06,4.617979e+06,9.965152e-08,8.854808e+06,1.607573e+10,8.815253e+06,1.600392e+10,...,1.133587e+07,8.803782e+06,1.598309e+10,-633.842640,1.362132e-08,-8.464078e-06,2023-10-01 00:00:00.000 UTC,3.147704e-12,8.809009e+06,1.599258e+10
3,-1.892607e+06,0.0,1.669970e+06,9.759104e+05,7.532736e+05,-1.001172e-08,8.832120e+06,1.476677e+10,8.791931e+06,1.469958e+10,...,1.040725e+07,8.775430e+06,1.467199e+10,-185.770819,1.176163e-08,-5.621681e-06,2023-09-01 00:00:00.000 UTC,-2.131628e-14,8.785707e+06,1.468917e+10
4,3.325935e+05,0.0,6.446585e+05,-7.235625e+06,-6.258373e+06,-1.210719e-07,8.570448e+06,1.410344e+10,8.530073e+06,1.403700e+10,...,1.021264e+07,8.516934e+06,1.401538e+10,1231.562371,1.229471e-08,8.143397e-07,2023-08-01 00:00:00.000 UTC,-1.818989e-12,8.523867e+06,1.402679e+10

In [20]:
mkr_supply_url = "https://api.dune.com/api/v1/query/482349/results"
params_mkr_supply = {
    "api_key": "z4mDm3TRGLB3hta98szuGAqineaf6XCh"
}

# Send a GET request to the API endpoint
response11 = requests.get(mkr_supply_url, params=params_mkr_supply)

# Check for a valid response
if response11.status_code == 200:
    # Parse the JSON response
    mkr_supply_data = response11.json()
    # Extract the 'rows' list from the JSON data
    mkrsupply_rows_data = mkr_supply_data['result']['rows']
    mkrsupply_df = pd.DataFrame(mkrsupply_rows_data)


mkrsupply_df.head()

,balance,burn_1yr,burned_mkr,period,remaining_mkr,remaining_mkr_pct,symbol
0,897585.271825,-0.007634,102414.728175,2023-12-16 00:00:00.000 UTC,0.897585,89.758527,MKR
1,897590.779807,-0.007628,102409.220193,2023-12-15 00:00:00.000 UTC,0.897591,89.759078,MKR
2,898142.654596,-0.007018,101857.345404,2023-12-14 00:00:00.000 UTC,0.898143,89.814265,MKR
3,898075.786735,-0.007091,101924.213265,2023-12-13 00:00:00.000 UTC,0.898076,89.807579,MKR
4,898252.574658,-0.006613,101747.425342,2023-12-12 00:00:00.000 UTC,0.898253,89.825257,MKR

In [21]:
import pandas as pd

# Assuming mkrsupply_df is your DataFrame
# Convert 'period' to datetime if it's not already
mkrsupply_df['period'] = pd.to_datetime(mkrsupply_df['period'])

# Set 'period' as the index
mkrsupply_df.set_index('period', inplace=True)

# Group by year and month, and sum the values
sum_mkrsupply_df = mkrsupply_df.groupby([pd.Grouper(freq='M')]).mean(numeric_only=True)

# Reset index if you want 'period' back as a column
sum_mkrsupply_df.reset_index(inplace=True)

# Display the resulting DataFrame
ttm_supply = sum_mkrsupply_df['balance'].head(12).mean(numeric_only=True)

ttm_supply

905928.7518265402

In [22]:
mkrsupply_df

,balance,burn_1yr,burned_mkr,remaining_mkr,remaining_mkr_pct,symbol
period,,,,,,
2023-12-16 00:00:00+00:00,897585.271825,-0.007634,102414.728175,0.897585,89.758527,MKR
2023-12-15 00:00:00+00:00,897590.779807,-0.007628,102409.220193,0.897591,89.759078,MKR
2023-12-14 00:00:00+00:00,898142.654596,-0.007018,101857.345404,0.898143,89.814265,MKR
2023-12-13 00:00:00+00:00,898075.786735,-0.007091,101924.213265,0.898076,89.807579,MKR
2023-12-12 00:00:00+00:00,898252.574658,-0.006613,101747.425342,0.898253,89.825257,MKR
...,...,...,...,...,...,...
2023-06-23 00:00:00+00:00,911996.145595,0.015299,88003.854405,0.911996,91.199615,MKR
2023-06-22 00:00:00+00:00,911996.145595,0.015299,88003.854405,0.911996,91.199615,MKR
2023-06-21 00:00:00+00:00,911996.145595,0.015299,88003.854405,0.911996,91.199615,MKR
2023-06-20 00:00:00+00:00,911996.145595,0.015299,88003.854405,0.911996,91.199615,MKR
2023-06-19 00:00:00+00:00,911942.897955,0.015255,88057.102045,0.911943,91.194290,MKR

In [23]:
def get_ldo_historical_data():
    ldo_historical_api = "https://api.coingecko.com/api/v3/coins/lido-dao/market_chart?vs_currency=usd&days=1152&interval=daily"

    # Send a GET request to the API endpoint
    response10 = requests.get(ldo_historical_api)

    # Check for a valid response
    if response10.status_code == 200:
        # Parse the JSON response
        ldo_historical_pricedata = response10.json()

        # Extract the 'prices' and 'market_caps' lists from the JSON data
        ldo_historical_price = ldo_historical_pricedata['prices']
        ldo_market_cap = pd.DataFrame(ldo_historical_pricedata['market_caps'], columns=['date', 'marketcap'])
        ldo_history = pd.DataFrame(ldo_historical_price, columns=['date', 'price'])

        # Calculate supply
        ldo_supply = ldo_market_cap['marketcap'] / ldo_history['price']

        return ldo_history, ldo_market_cap, ldo_supply

# Use the function in your Streamlit app
ldo_history, ldo_market_cap, ldo_supply = get_ldo_historical_data()

In [24]:
print(ldo_history)

               date     price
0     1609804800000  1.750891
1     1609891200000  1.750891
2     1609977600000  1.760411
3     1610064000000  1.426809
4     1610150400000  1.495403
...             ...       ...
1084  1703462400000  2.428220
1085  1703548800000  2.553696
1086  1703635200000  2.414790
1087  1703721600000  2.834848
1088  1703770254000  2.881410

[1089 rows x 2 columns]